######### APP Config ##########
APP_NAME=ClubAnimate
PHP_VERSION=7.4
PATH_DATA=~/.ClubAnimate/data
WORKING_DIR=../

######### HTTP Config ##########
HTTP_PORT=9999
HTTPS_PORT=4466

######### MYSQL Config ##########
MYSQL_VERSION=5.7
DB_PORT=3310

DB_DATABASE_DOCKER=club_animate
DB_USERNAME_DOCKER=root
DB_PASSWORD_DOCKER=123456

######### MYSQL Config ##########
PHPMYADMIN_PORT=9990

######### Adminer Config #########
ADMINER_PORT=8081
